{#
/**
* @file badge.html.twig
*
* Default theme implementation to display a Bootstrap Badge component.
*
* @var id:          Your id
* @var name:        Your name
* @var badge:       Your value
*
* How to use it:
*
* {% include "Components/BS3/badge.html.twig" with {id:'myBadgeId', name:'myBadgeName', badge: '3'} %}
*/
#}

<span{% if id is defined %} id="{{ id }}"{% endif %}{% if name is defined %} name="{{ name }}"{% endif %} class="badge">
    {% if badge is defined %}{{ badge }}{% endif %}
</span>